{% extends 'base.html.twig' %}

{% block title %}О нас{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center mb-4">Наша история</h1>
                <img src="" alt="Наш шеф-повар" class="img-fluid rounded mb-3">
                <p>Мы - семейная пиццерия с богатой историей и традициями. Наша миссия - дарить радость каждому клиенту через вкусную и качественную пиццу. </p>
                <p>Мы используем только свежие и натуральные ингредиенты, а наши повара - настоящие мастера своего дела.</p>
                <p>Приходите к нам и попробуйте настоящую итальянскую пиццу!</p>
            </div>
        </div>
    </div>
{% endblock %}
