{% extends 'base.html.twig' %}

{% block title %}New Pizza{% endblock %}

{% block body %}
    <h1>Create new Pizza</h1>

    {{ include('pizza_crud/_form.html.twig') }}

    <a href="{{ path('app_pizza_crud_index') }}">back to list</a>
{% endblock %}
